<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - movie</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
    
    <!-- Incicio barra lateral -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div id="lateral">
                        <div id="menu">
     
                            <div style="margin-top:4em; margin-left: 3em" class="box">
                                <a asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="http://www.iconarchive.com/download/i85581/graphicloads/100-flat/home.ico" style="width:60px">
                                </a>
                            </div>
                            
                            <ul class="box">                                
                                <li><a asp-controller="Filmes" asp-action="Listar">Minhas lista</a></li>
                                <li><a asp-controller="Filmes" asp-action="Ranking">Meu Top 10</a></li>
                                <li><a asp-controller="Filmes" asp-action="Ranking250">Recomendações</a></li>
                            </ul>

                        </div>
                        <div id="menu">

                            <ul class="box">
                                <li>
                                    <a asp-controller="Filmes" asp-action="Listar">
                                        <img src="http://www.freeiconspng.com/uploads/movie-icon-11.png" width="60px" />
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Filmes" asp-action="Ranking">
                                        <img src="http://www.bates.edu/career/files/2016/03/icon-top10.png" width="60px" />
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Filmes" asp-action="Ranking250">
                                        <img src="http://www.freeiconspng.com/uploads/training-icon-15.png" width="60px" />
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div >
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- FIm barra lateral -->
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                
                <div style=" width: 10%; position:relative; float:left">
                    
                    
                    <a href="" id="iconMenu" style="margin-left:30%">
                        <img src="http://www.piratebrands.com/images/menu.png" width="50px">
                    </a>
                </div>

                
                <div class="navbar-collapse collapse" style=" width:80%; position:relative;float:right"> 
                    <div class="campo-busca" style="margin-left: 23%">
                        <form>
                            <input class="form-control mr-sm-2 " type="text" placeholder="Qual filme deseja encontrar hoje?" aria-label="Search">
                            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                        </form>
                    </div>


                    <ul class="nav navbar-nav" style="position:relative; float:right;">
                        <li>
                            <a href="#" class="btnLogin">
                                Entrar
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btnSing">
                                Criar Conta
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

    </body>
    
    <footer class="container-fluid">
        <hr />
        <h2><b>Movie Management</b></h2>
        <p>&copy; @DateTime.Now.Year - daniel-costa@ufu.br</p>
    </footer>
</html>



<div class="modal fade" id="modalSing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="sing"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="login"></div>
            </div>
        </div>
    </div>
</div>
