@{
    ViewBag.Title = "Sing";
}

<div class="container janela-login-singin">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h2 class="title"><b>Criar Conta</b></h2>
                    <hr />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Nome</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" id="name"  placeholder="Digite seu nome"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">E-mail</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="email" id="email"  placeholder="Digite seu e-mail"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Nome de Usuário</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="username" id="username"  placeholder="Digite o nome de usuário"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Senha</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" id="password"  placeholder="Digite sua senha"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirmação de Senha</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirme sua senha"/>
                    </div>
                </div>
            </div>
            
            <div class="pwstrength_viewport_progress"></div>
            <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Registrar</button>
        </div>
    </div>
</div>