@{
    ViewData["Title"] = "Contact";
}
        
<h2 style="text-align:center"><b>Contatos</b></h2>
<hr>
<div style="width: 60%; margin: 0 auto">
    <address>
        One Daniel Way<br />
        Redmond, WA 98052-6399<br />
        <span>P:</span>425.555.0100
    </address>

    <address>
        <strong>Suporte:</strong> <a href="mailto:Support@example.com">daniel-costa@ufu.br</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">dani.coen@hotmail.com</a>
    </address>

    <img src="https://leipglo.files.wordpress.com/2015/05/moviesomu.png?w=300&resize=300%2C223">
    <h3 style="text-align:center"><b>Mais informações: </b>www.google.com.br</h3>
</div>