@{
    ViewBag.Title = "Index";
}
<div class="container slider">
    <ul>
        <li> <img src="http://www.cate-blanchett.com/news/wp-content/uploads/2017/09/012-e1506007903157-800x400.jpg"> </li>
        <li> <img src="https://i.kinja-img.com/gawker-media/image/upload/s--pimg3PPs--/c_scale,fl_progressive,q_80,w_800/uqnhy0oapcnvc5mm74pn.jpg"> </li>
        <li> <img src="https://www.monstersandcritics.com/lists/wp-content/uploads/2015/03/the-dark-knight.jpg"> </li>
        <li> <img src="https://2.bp.blogspot.com/-NayQtoK1KDk/WNZSlQ4XNoI/AAAAAAAA-N8/uhw2iH95vC0IpzLiBH3NXP6QY9mbx3OQQCLcB/s1600/0.jpg"> </li>
    </ul>
</div><!--Fim Slider-->

