@model movie.Models.User
@{
    ViewData["Title"] = "Login";
}

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - movie</title>

        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
                asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body style="color: black;">
        <div class="panel-title text-center" style="margin-top:10px">
            <img src="https://leipglo.files.wordpress.com/2015/05/moviesomu.png?w=300&resize=300%2C223" style="width: 140px">
            <h3 class="title" ><b>Login</b></h3>
        </div>
        <form class="form-horizontal" asp-controller="Home" asp-action="Login" method="post">
            <div class="container" style="width:35%; margin: 0 auto; background-color: white; padding: 25px; border-radius: 10px ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="username" class="cols-sm-2 control-label">Username</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="username" id="username"  placeholder="Digite o nome de usuário"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="cols-sm-2 control-label">Senha</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input type="password" class="form-control" name="password" id="password"  placeholder="Digite sua senha"/>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Entrar" class="btn my-btn btn-block" id="entrar">
                    </div>
                </div>
            </div>
            <div class="container" style="width:35%; margin: 0 auto; background-color: white; margin-top: 20px; padding: 3px; text-align: center;  border-radius: 10px">
                <b>Novo no site?</b>
                <a asp-controller="Home" asp-action="Sing">Crie uma conta</a>
            </div>
        </form>
    </body>
</html>