@{
    ViewBag.Title = "Adicionar";
}

<div class="container janela-login-singin">
    <div class="row">
        <div class="col-md-12">
            
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h2 class="title"><b>Adicionar Filme</b></h2>
                    <hr />
                </div>
            </div> 
            
            <div class="form-group">
                <label class="cols-sm-2 control-label">Filme</label>    
                <input type="text" class="form-control" name="filme" id="filme"  placeholder="Qual filme deseja adicionar?"/>
            </div>


            <button class="btn btn-lg btn-primary btn-block">Adicionar</button>
        </div>
    </div>
</div>

