@model movie.Models.Filmes

@{
    ViewBag.Title = "Deletar";
}



<div class="container">
    <div style="width:30%; margin: 0 auto">
        <h3 style="text-align:center">The movie <b>@Html.DisplayFor(model => model.Title)</b> has been deleted.</h3>
        <hr>
        
        <div class="card" style="width: 25rem; margin-left:15%">
            <img class="card-img-top" src="@Html.DisplayFor(model => model.Poster)" alt="Card image cap">
        </div>
        <a asp-controller="Filmes" asp-action="Listar" class="btn my-btn btn-block" style="width:80%; margin: 0 auto">Back</a>
    </div>
</div>