@model IEnumerable<movie.Models.Filmes>
    
@{
    ViewBag.Title = "Listar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center"><b>Minha Lista</b></h2>

            <a class="btn  my-btn" asp-controller="Filmes" asp-action="Adicionar"> 
                Adicionar Filme
            </a>

            <hr>
            @foreach (var item in Model) { 
                <div class="card" style="width: 15rem;">                    
                    <a href="#" data-value="@item.Id" class="btnInfo"> 
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Poster)" alt="Card image cap">
                    </a>
                    
                    <div>
                        <p class="card-title">@Html.DisplayFor(modelItem => item.Title)</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="details"></div>
            </div>
        </div>
    </div>
</div>
