@model IEnumerable<movie.Models.Filmes>
@{
    ViewBag.Title = "Ranking";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center"><b>Meu Top 10</b></h2>
            <h4 style="text-align: center">Ordenados por nota do IMDB</h4>
            <hr>
            @foreach (var item in Model) {    
                <div class="card" style="width: 17rem;">
                    <div class="card-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>                    
                    <a href="#" data-value="@item.Id" class="btnInfo">
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Poster)" alt="Card image cap">
                    </a>
                    <div>
                        <h4>IMDB: <b> @Html.DisplayFor(modelItem => item.imdbRating)</b></h4>
                    </div>                    
                </div>
                
            }
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="details"></div>
            </div>
        </div>
    </div>
</div>