@model IEnumerable<movie.Models.Filmes>
@{
    ViewBag.Title = "Vistos";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center"><b>Filmes vistos</b></h2>
            <h4 style="text-align: center">Ordenados por nota do IMDB</h4>
        
            <hr>
            @foreach (var item in Model) { 
                <div class="card" style="width: 12.5rem;">         
                    <div>
                        <p class="card-title">@Html.DisplayFor(modelItem => item.Title)</p>
                    </div>
                    <a href="#" data-value="@item.Id" class="btnInfo"> 
                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Poster)" alt="Card image cap">
                    </a>
                    <div>
                        <h6>IMDB: <b> @Html.DisplayFor(modelItem => item.imdbRating)</b></h6>
                    </div>                    
                    
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="details"></div>
            </div>
        </div>
    </div>
</div>